<div class='button-div'>
  <a href='/add'>
    ADD POST
  </a>
</div>
<div class='container list-group del-post m-5 p-0'>
  {{#each posts as |post|}}

    <div class='list-group-item mt-2 p-0'>
      <div class='d-flex justify-content-between bg-info text-dark p-2'>
        <h4>{{post.title}}</h4>
        {{!  }}
        <div class='d-flex justify-content-center align-items-center text-light'>
          <p> Created by you on: {{format_date post.createdAt}}</p>
        </div>
      </div>
      <div>
        <p class='text-center p-2 fs-5'>{{post.post_content}}</p>
        <div class='d-flex justify-space-center m-2'>
          <button class='btn btn-danger btn-sm px-2 m-2' data-id='{{post.id}}'>DELETE</button>
          <button class='btn btn-success text-light btn-sm px-2 m-2'><a
              id='view-post'
              href='/edit/{{post.id}}'
              class='text-light px-3 py-5'
            >Edit</a>
          </button>
        </div>
      </div>
    </div>
    {{!  }}
  {{/each}}
</div>

<script src='/js/deletePost.js'></script>