<div class='container p-5'>
  {{#each posts as |post|}}

    <div class='list-group bg-light mb-2'>
      <div class='d-flex justify-content-between bg-info text-dark list-group-item px-4'>
        <h5>{{post.title}}</h5>
        {{!  }}
        <div class='d-flex justify-content-center align-items-center w-70 gap-2 text-dark'>
          <p>Posted by: {{post.user.username}} on {{format_date post.createdAt}}</p>
        </div>
      </div>
      {{!  }}
      <p class='text-center p-4'>{{post.post_content}}</p>

      <button class='btn btn-primary text-light w-25 mx-auto m-2 fs-6'><a
          id='view-post'
          href='/post/{{post.id}}'
          class='text-light'
        >See Post</a></button>
    </div>
  {{/each}}
</div>