<div class='container p-5'>
  <div class='list-group bg-light mb-2'>
    <div class='d-flex justify-content-between bg-info text-dark list-group-item px-4'>
      <h5>{{post.title}}</h5>

      {{!  }}
      <div class='d-flex justify-content-center align-items-center w-70 gap-2 text-light'>
        <p>Posted by: {{post.user.username}} on</p>
        <p>{{format_date post.createdAt}}</p>
      </div>
    </div>
    {{!  }}
    <div class='text-center p-4 fs-5'>
      {{post.post_content}}
    </div>
    <hr />
    <div class='d-flex justify-content-center'>
      <h3>All COMMENTS</h3>
    </div>
    <div style='margin: 10px auto;  width: 70%;  border: 0.1px solid; '>

      {{!  }}

      <div>
        {{#if post.comments}}
          <ul class='list-group comments'>

            {{#each post.comments}}
              <li class='list-group-item bg-info'>
                <div class='d-flex justify-content-between'>

                  <h4><span>By:</span> {{user.username}} </h4>
                  <p>On {{format_date created_at}}</p></div>
                <p class='text-center fs-5'>{{this.comment_text}}</p>
                <div><button class='btn btn-danger' data-id='{{id}}'>DELETE </button></div>
              </li>
            {{/each}}
          </ul>

        {{else}}
          <h3>No Comments</h3>
        {{/if}}
      </div>
    </div>

  </div>
  <div class='post-form'>
    <h3>Add Comment</h3>
    <form class='add-comment-form'>
      <div>
        <input type='hidden' name='post-id' value='{{post.id}}' />
        <label for='comment'>Post Content: </label>
        <textarea
          type='text'
          name='comment_text'
          id='comment_text'
          placeholder='Enter Comment'
          class='comment_text'
        ></textarea>
      </div>
      <input type='submit' value='Add Comment' />
    </form>
  </div>

</div>
{{! Break }}

<script src='/js/addComment.js'></script>