<div style='text-align: center; margin-top: 2%; ;'>
  <a id='view-post' href='/post/{{post.id}}' style='text-decoration: none; color:black;'>

    <div style='margin: 10px auto;  width: 70%;  border: 1px solid; background-color:rgb(235, 239, 242)  '>
      <div
        class='d-flex justify-content-between'
        style='background-color: rgb(50, 46, 46); color:rgb(249, 242, 242); padding:0 4px ;'
      >
        <h3>{{post.title}}</h3>
        {{!  }}
        <div class='d-flex justify-content-between align-items-center' style='width: 18%;'>
          <p>Posted by: {{post.user.username}} on</p>
          <p>{{format_date post.createdAt}}</p>
        </div>
      </div>
      {{!  }}
      <div class='mt-2'>
        {{post.post_content}}
      </div>

    </div>
  </a>

</div>

{{! break }}
<div style='text-align: center; margin-top: 2%; height: 500px ;'>
  <a id='view-post' href='/post/{{post.id}}' style='text-decoration: none; color:black;'>

    <div style='margin: 10px auto;  width: 70%;  border: 1px solid; background-color:rgb(143, 255, 210)  '>
      <div
        class='d-flex justify-content-between'
        style='background-color: rgb(61, 28, 28); color:rgb(98, 237, 181); padding:0 4px ; height: 50px'
      >
        <h3>All Comments</h3>
      </div>
      {{!  }}

      <div class='mt-2'>
        {{#if post.comments}}
          {{#each post.comments}}

            <div>
              <p>By: {{user.username}}</p>
              <p>Comment: {{this.comment_text}}</p>
              <p> On {{format_date created_at}}</p>
            </div>
          {{/each}}
        {{else}}

          <h3>No Comments</h3>
        {{/if}}

      </div>

    </div>
  </a>

</div>